* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
}
header nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  padding: 8px 16px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
}
nav ul a {
  font-size: 1.3rem;
  color: #212327;
}
nav .app-icon,
nav .user-icon {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
nav .app-icon:hover,
nav .user-icon:hover {
  background-color: #f6f6f6;
  border-radius: 50%;
}
nav .app-icon svg {
  width: 24px;
  height: 24px;
}
nav .user-icon img {
  width: 32px;
}
header .logo {
  align-self: center;
  padding-top: 4px;
}

form {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 20px;
}
.input-content,
.buttons-container {
  min-width: 32px;
  width: 100%;
  max-width: 580px;
}
.input-content label {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
}
label:focus-within,
label:hover {
  background-color: #dfe1e146;
  border-color: #dfe1e146;
  box-shadow: 0 2px 5px 0 #78777747;
}
form input {
  width: 100%;
  height: 32px;
  padding: 2px 12px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: transparent;
}
.search-icon {
  display: flex;
  width: 20px;
  height: 36px;
  opacity: 0.5;
}
.microphone-icon {
  display: flex;
  width: 24px;
  height: 36px;
  cursor: pointer;
}
.buttons-container {
  display: flex;
  justify-content: center;
  padding-top: 18px;
}
.buttons-container button {
  height: 36px;
  margin: 10px 5px;
  padding: 0 15px;
  font-size: 1.4rem;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  color: #5f6368;
  background-color: #f2f2f2;
  cursor: pointer;
}
.buttons-container button:hover {
  border: 1px solid #c6c6c6;
  color: #212327;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 36px;
  font-size: 1.4rem;
  border-top: 1px solid #e4e4e4;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
}
footer ul {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 48px;
  list-style: none;
}
footer ul li a {
  color: #5f6368;
}

@media (max-width: 870px) {
  main {
    padding-top: 14px;
    min-height: calc(-58px + 100vh - 49px - 48px);
  }
  main .main-logo {
    margin-bottom: 28px;
  }
  main .main-logo img {
    width: 22.5rem;
    height: 7.5rem;
  }
  footer {
    justify-content: center;
  }
}

@media (max-width: 553px) {
  main {
    padding-top: 8px;
    min-height: calc(-58px + 100vh - 97px - 48px);
  }
  main .main-logo {
    margin-bottom: 20px;
  }
  main .main-logo img {
    width: 15rem;
    height: 5rem;
  }
  footer .footer-left {
    height: 96px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
