* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
}
header nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 6rem;
  padding: 8px 16px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  list-style: none;
}
nav ul a {
  font-size: 1.3rem;
  color: #212327;
}
nav .app-icon,
nav .user-icon {
  display: grid;
  place-content: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
nav .app-icon:hover,
nav .user-icon:hover {
  background-color: #f6f6f6;
  border-radius: 50%;
}
nav .app-icon svg {
  width: 2.4rem;
  height: 2.4rem;
}
nav .user-icon img {
  width: 3.2rem;
}
header.logo {
  align-self: center;
  padding-top: 4px;
}

main {
  text-align: center;
  padding-top: 20px;
  min-height: calc(100vh - 49px - 58px);
}
main .main-input {
  min-width: 3.2rem;
  max-width: 58rem;
  padding: 0 20px;
  margin: 0 auto;
}
main .main-input-container {
  min-width: 3.2rem;
  max-width: 58rem;
  padding: 0 14px;
  border-radius: 10rem;
  border: 0.19rem solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-input-container:hover {
  box-shadow: 0 0.1rem 0.5rem 0 #78777747;
  border-color: #dfe1e1;
}
main .main-input .search-icon {
  display: flex;
  width: 2.4rem;
  height: 100%;
  opacity: 0.4;
}
main .main-input input {
  font-size: 1.7rem;
  width: 100%;
  height: 4rem;
  padding-left: 12px;
  border: none;
  outline: none;
}
main .main-input .micro-icon {
  display: flex;
  width: 2.8rem;
  height: 100%;
  cursor: pointer;
}
main .main-buttons {
  width: auto;
  padding: 1.8rem 20px 0;
  margin: 0 auto;
}
main .main-buttons button {
  height: 3.6rem;
  background-color: #f2f2f2;
  border: 0.1rem solid #f2f2f2;
  font-size: 1.4rem;
  color: #5f6368;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
main .main-buttons button:hover {
  border: 0.1rem solid #c6c6c6;
  color: #222;
}

footer {
  width: 100%;
  padding: 0 20px;
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  background-color: #f2f2f2;
  border-top: 0.1rem solid #e4e4e4;
}
footer ul {
  height: 48px;
  list-style: none;
  display: flex;
  align-items: center;
}
footer ul li a {
  margin: 1.6rem;
  color: #5f6368;
}

@media (max-width: 870px) {
  main {
    padding-top: 14px;
    min-height: calc(-58px + 100vh - 49px - 48px);
  }
  main .main-logo {
    margin-bottom: 28px;
  }
  main .main-logo img {
    width: 22.5rem;
    height: 7.5rem;
  }
  footer {
    justify-content: center;
  }
}

@media (max-width: 553px) {
  main {
    padding-top: 8px;
    min-height: calc(-58px + 100vh - 97px - 48px);
  }
  main .main-logo {
    margin-bottom: 20px;
  }
  main .main-logo img {
    width: 15rem;
    height: 5rem;
  }
  footer .footer-left {
    height: 96px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
